.speech{
font-size: 27px;
color: black;
}
.name{
  font-size: 18px;
  color: rgb(56, 47, 47);
}
.direction:hover,p.direction{
  font-size: 15px;
  background-color:yellowgreen;
}
.direction:hover {
  background-color: black;
  color: bisque;
}
h6{
  color: rgb(44, 34, 34);
}
h6.Minikin {
  font-family: Garamond;
  color: blueviolet;
} h6.Manikin{
font-family: Garamond;
color: brown;
}
img{
  width: 100px;
  height: 100px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.boxSha:hover{
  color: transparent;
  text-shadow: 1px 1px 2px black;
  font-size: 18px;
  box-shadow: 8px green;
  border-style: groove; 
    border-radius: 0.5rem;
    margin: 2rem 0 0rem 2rem; 
}

.fab,.fa-facebook-f{
  color: black;
  font-size: 200px;

}
  table, th, td {
    font-size: 1rem;
    border: 1px solid rgb(120, 117, 117);
  }
  table.bg-color{
    background-color: rgb(190, 182, 243);
    align-items: center;
  }
  p{
    font-size: 20px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(185, 101, 101);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  li a:hover:not(.active) {
    background-color: grey;
  }
  
  .active {
    background-color: #94dfc4;
  }