.speech{
font-size: 27px;
color: black;
}
h6.Minikin {
    font-family: Garamond;
    color: blueviolet;
 
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.boxSha:hover{
  color: transparent;
  text-shadow: 1px 1px 2px black;
  font-size: 18px;
  box-shadow: 8px green;
  border-style: groove; 
    border-radius: 0.5rem;
    margin: 2rem 0 0rem 2rem; 
}

h6.Manikin{
    font-family: Garamond;
    color: brown;
  }


.direction:hover,p.direction{
    font-size: 15px;
    background-color: rgb(120, 117, 117);

}

.name{
    font-size: 18px;
    color: rgb(56, 47, 47);
}

h6{
    color: rgb(44, 34, 34);
}
.direction:hover {
    background-color: black;
    color: bisque;
  }
  table, th, td {
    font-size: 1rem;
    border: 1px solid rgb(120, 117, 117);
  }
  table.bg-color{
    background-color: rgb(190, 182, 243);
    align-items: center;
  }
  p{
    font-size: 20px;
  }